<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <img src="img/selfpic.jpg"  width="250" height="300">
    <h3>Charles McWatt-Avey. </h3>
    </div>
    </main>
    <div> <strong><h3>About Myself
    </h3></strong> </div>
     <body>
        <p> My name is Charles McWatt-Avey. I am a 21 year old student currently attending Centennial College
        <p>for game programming. I have been interested in playing videos games and I have always wanted to design
        <p> my own games. I have been coding with different coding languages since highschool.  
    </body>    
    <!DOCTYPE html> 
<html> 
<head> 
<p>Here is a link for my PDF Resume</p>
<a href= "file:///Users/charlesavey/Downloads/Charles McWatt-Avey Coverletter and Resume.pdf"> Resume</a>
 
</head> 
<body> 

</body> 
</html> 
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   