
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<!-- <!DOCTYPE html> 
<html> 
<head> 
<title><%= title %></title> 
<link rel="stylesheet" href="style.css"/> 
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/> 
<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/> 
</head> 
<body> 
<img src="img/logo.png" alt="logo"> 
<h1>Welcome to the <%= title %>page</h1> 
<script src="/jquery/dist/jquery.min.js"></script> 
<script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
</body> 
</html>  -->

<main class="container">
  <div class="jumbotron">
<head>
    <h1 class="display-4">Welcome to <%= title %> page</h1></div>
</head>
<div> <strong><h3>Welcome
</h3></strong> </div>
 <body>
    <p>Hello My name is Charles McWatt-Avey. Welcome to my Express Portfolio for COMP 229 Sec 016</p>
</body>    



</br>
<div> <strong><h3>Mission Statement
</h3></strong> </div>
 <body>
    <p style text-align:left>
    <p>Hello My name is Charles McWatt-Avey. 
    <p>I am a student in game programming at Centennial College.
    <p>My goal for the year is to allow myself to get the best out of the course that I have
    <p>of this semester.

    <p>
</body>    

    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   

