<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    <body>
       
        <p><h3>Here are some of the project that i have worked on </h3></p>
        <p> Levitation Sand Island </p> <p> Social Analysis Project </p>
        <img src="img/GameProject.png"  width="250" height="300"> 
        <br>
        <p> Social Analysis Project </p>
        <img src="img/SocialAnalysis.png"  width="250" height="300"> 
        <br>
        <p> Navigation Application Project </p>
        <img src="img/NavigationApp.png"  width="250" height="300"> 
        
            
        </body>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   