<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    
    </div>
    <p>The services that I can provide are
    <li>Computer problems.</li>
    <li>Information technology help.</li>
    <li>General programming.</li>
    <li>Game design and programming.</li>
      
  </body>    
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   